
nav{
  font-size: 24px;
  border-bottom: 0.2px solid rgb(238, 235, 235);
}
.nav-special{
  background-color: #fcfcfc;
  font-family: 'Times New Roman', Times, serif;
}

.onemember{
  color: antiquewhite;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  width:20%;
  padding: 10px;
  margin: 10px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.bookimage{
  display: inline-block;

  justify-content: center;
  width: 46%;

}
.homecontainer{
  text-align: center;
  padding: 250px;
  font-family: 'Times New Roman', Times, serif;
}
.masthead{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.borrow-button{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.onebook{
  color: antiquewhite;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  width:20%;
  height: 100%;
  padding: 5px;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.booknames{

  width: 100%;
  height: 305px;
  color: #282c34;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  padding: 10px;

}
.membernames{ display: inline-block;
  width: 46%;
  color:#282c34;
  display:initial;             
  flex-direction: column;     
  justify-content: center;    
  align-items: center;  
}
.membersilver{
  font-size: 30px;

  font-family: 'Goudy Bookletter 1911', serif;
  text-align: center;
  color: #757378;

}
  .membergold{
  font-size: 30px;
  font-family: 'Goudy Bookletter 1911', serif;
  text-align: center;
  color: #d3b715;
}
.memberplatinum{
  font-size: 30px;
  font-family: 'Goudy Bookletter 1911', serif;
  text-align: center;
  color: #a3a19c
}
.bookimage{
  width: 200px;
padding-bottom: 10px;
padding-top: 40px;
  
}
.imagecontainer{
  height:305px;
  display:flex;
  justify-content: center;    
  align-items: center;  
}
.bookcontainer{
  height: 610px;

}
.booktitle{
  font-size: 25px;
  font-family: 'Goudy Bookletter 1911', serif;

}
.membername{ 
  font-size: 30px;
  font-family: 'Goudy Bookletter 1911', serif;
  text-align: center;
}
.bookauthor{
  font-size: 20px;
  font-family: 'Goudy Bookletter 1911', serif;
  
}
.bookborrowedbydiv{
  overflow: scroll;
  margin-top: 10px;
  box-shadow: rgba(122, 122, 122, 0.25) 0px 10px 10px -3px inset, rgba(118, 117, 117, 0.3) 0px 5px 16px -8px inset;
    height: 300px;
}
.bookgenres{
  text-align: center;
  font-size: 20px;
  font-family: 'Goudy Bookletter 1911', serif;
  display: inline-block;
  background-color: #fdfdfd;
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 10px;
  border-radius: 10px;
  padding-left:  6px;
  padding-right:  6px;
  margin-right: 5px;
  margin-bottom:5px;
  margin-top: 15px;
}
.modalbookgenres{
  
  display:flex;
  align-items: center;
  justify-content: center;
 
}
.titlefont{
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}
.booklist{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
}
.memberList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.container{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}
.searchadd{
  margin: 10px;
 padding: 10px;

 
}
.input-group.rounded{
  justify-content: center;
}
.searchaddmember{
  margin: 10px;
 padding: 10px;

}
#addbook{

padding-top: 5px;
padding-bottom: 5px;
margin: 5px;

}

#addmember{
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 3px;
}
#addmemberbutton{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
 
}
#searchmember{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
#searchinput{
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  margin: 8px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  max-width: 500px;

}
.mx-22{
  margin-top: 15px;
  color: #61fb9e;
}

#searchinputmember{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
#selectinput{
  margin: 8px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  max-width: 500px;
}

.modalmembership{
 
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
}
.modalbrorrowed
{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  padding-top: 20px;
}
.bookborrowedby{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  padding-top: 20px;
}
.currentlyborrowed{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  padding: 20px;
}
.modalbooketitle{
  
  padding-top: 20px;
}
.App {
  background-color: #fafafa;
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
